{% extends 'static/styles.css' %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ app_data['description'] }}"> <!-- The two curly brackets ("{{ }}") allow us to contain Python code in our HTML page ... in this case the value associated with the key 'description' in our 'app_data' dictionary. -->
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<title>Harold Celis</title>
	
</head>


<body>

<div class="hero-image">
	<div class="hero-text">
  		<h1 style="font-size:50px">Hello, I am Harold Celis</h1>
   		<p>__________</p>
   		<button>Instagram</button>
	</div>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;"; >
  	<h1>About<h1>
  	<img src="images/laughing.png">
  	<p> Colombian guy who can't laugh quietly and enjoys dark humor. </p>
	<p>I haven't tried Fish and Chips since i arrived to the UK and i don't know why i can't find a good hot dog hahaha Although UK pubs are good.</p>
	
</div>
  
  <div class="column" style="background-color:#bbb;"> <h2>Hobbies<h2>
	<img src="images/russia.png">
	<ul style="list-style: square;">
		<li>Playing Tennis</li>
		<li>Dance salsa, Bachata and reggaeton</li>
		<li>Reading and learning</li>
		<li>Entrepreneurship</li>
		<li>Travelling</li>
	</ul>
	</div>

  <div class="column" style="background-color:#ccc;"> <h1>Likes</h1>
  	
  	<h3>Series</h3>
  		<ul style="list-style: square;">
			<li>Vikings</li>
			<li>House of Cards</li>
			<li>Love, Death and Robots</li>
			<li>Rick and Morty</li>
			<li>Lost</li>
		</ul>
	<h3>Movies</h3>
		<ul style="list-style: square;">
			<li>Lord of the Rings and The Hobbit</li>
			<li>Love Actually</li>
			<li>Kill Bill</li>
			<li>Django Unchain</li>
			<li>Resevoir Dogs</li>
		</ul>
	</div>

</div>

<div class="footer">
  
</div>

</body>
</html>
